.example-spacer {
  flex: 1 1 auto;
}

img {
  display: block !important;
  max-width: 100%;
  height: auto !important;
  visibility: visible !important;
}
 
/* .toolContainer
{
  display: flex;
  flex-direction: row;
} */


